// Place all the styles related to the perfumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.perfume, .note {
  border-style: solid;
  border-color: honeydew;
//  background: rgba(255,255,255,0.8);
  background: ghostwhite;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-width: 5px;
}

.perfume__name, .perfume__year, .perfume__loveit {
  display: inline;
  padding: 10px;
}

.perfume__loveit {
  font-weight: bolder;
}

.perfume__loveit.hover {
    text-shadow: 0px 0px 1px deeppink;
}

.perfume__loveit.loved {
    text-shadow: 1px 1px 2px #000000;
}

.perfume__loveit.hover, .perfume__loveit.loved {
  color: #FF3E96;
  cursor: pointer;
  cursor: hand;
}

.layer {
  margin-top: 20px;
}

.notes {
  margin-bottom: 20px;
}

span.note {
  background: ivory;
  padding: 10px;
  margin: 5px;
  border-style: solid;
  border-color: thistle;
  border-radius: 5px;
  border-width: 3px;
  position: relative;
}
