.footer
  .footer__container
    .footer__left
      = link_to 'Perfumes', perfumes_path
      != '&lowast;'
      = link_to 'Notes', notes_path
    .footer__right
      - readme_url = 'https://github.com/matildasmeds/perfume_forest/blob/master/README.rdoc'
      = link_to 'Github', readme_url
